@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-text: #434343;
  --color-primary: rgb(1, 148, 243);
  --color-secondary: #1BA0E2;
  --color-secondary-1: #1494C6;
  --color-white-t: '#EFF1F3';
}